{% extends "base.html" %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <div id="favourite-section">
        {% if is_favourite %}
            <a href="{% url 'blog:favourite_post' post.id %}">
                <i class="fas fa-heart fa-lg"></i>
            </a>
        {% else %}
            <a href="{% url 'blog:favourite_post' post.id %}">
                <i class="far fa-heart fa-lg"></i>
            </a>
        {% endif %}
    </div>
    {{ post.body|linebreaks }}
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}

            {% for replay in comment.replies.all %}
                <p class="info">{{ replay.name }} | {{ replay.created }}</p>
                <li>{{ replay.body }}</li>
            {% endfor %}

            <h5>Replay</h5>
            <form action="." method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <!-- Hidden input for parent comment.id -->
                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                <input class="btn btn-primary" type="submit" value="Replay">
            </form>
        </div>
        {% empty %}
        <p>There are no comments yet.</p>
    {% endfor %}
    {% if new_comment %}
        <h2>Your comment has been added.</h2>{% else %}
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
    {{ post.body|linebreaks }}
{% endblock %}